<h1>Busy There? Questions</h1>

<form class="form-inline">
    <input type="text" class="input-large" id="question" placeholder="Enter a question" />

    <button type="submit" class="btn" id="add-question">Add Question</button>
</form>

<ul id="questions-list">
  <% @Questions.each do |q| %>
      <li><%= q.question%></li>
  <% end %>
</ul>

<script src="/javascripts/add-question.js"></script>