@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Pictos';
  src: url("/papyrus/css/pictos/pictos-web.eot");
  src: local("☺"), url("/papyrus/css/pictos/pictos-web.woff") format("woff"), url("/papyrus/css/pictos/pictos-web.ttf") format("truetype"), url("/papyrus/css/pictos/pictos-web.svg#webfontIyfZbseF") format("svg"); }

body {
  font-family: "Asap", "Open Sans", "PT Sans", "Myriad Pro", Arial, Helvetica, Sans-Serif;
  font-weight: 400;
  color: #474747;
  background-color: #343434;
  background-image: url(/images/bg_page.png);
  -webkit-font-smoothing: antialiased; }
  body.noscroll {
    overflow: hidden !important; }
    body.noscroll #hidden-header {
      display: block; }

.onboardComplete .first-time-user-callout {
  display: inline-block; }
  .onboardComplete .first-time-user-callout .items {
    text-align: right; }
    .onboardComplete .first-time-user-callout .items img {
      height: 80px; }
    .onboardComplete .first-time-user-callout .items p {
      text-align: center; }

.first-time-user-callout {
  display: none;
  position: absolute;
  top: 0;
  left: 590px;
  height: auto;
  margin-top: -40px;
  color: #c13b3b;
  font-weight: bold;
  z-index: 199; }
  .first-time-user-callout .arrow {
    position: relative;
    width: 95px;
    height: 98px;
    margin-left: 72px;
    background: url("/images/red-arrow.png") no-repeat; }

a, span.spanned-link {
  color: #2a88cd;
  text-decoration: none; }

#page-title {
  display: none; }

.error-message {
  display: none; }

/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

#msie_blocker {
  background: url("/images/bg_page.png") repeat scroll 0 0;
  height: 100%; }
  #msie_blocker #header {
    text-align: center;
    height: 156px;
    background: url("/images/bg_header_ie.jpg") repeat scroll 0 0; }
    #msie_blocker #header #logo {
      margin-top: 32px;
      height: 100px;
      line-height: 100px; }
  #msie_blocker #content {
    position: relative; }
    #msie_blocker #content .message {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      color: #222222;
      margin: 0 0 10px 0; }
      #msie_blocker #content .message.sorry {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(13, 13, 13, 0.8);
  opacity: 0;
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  transition: opacity 250ms; }
  #overlay.activated {
    opacity: 1; }

.screen-app-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #0d0d0d; }

#login-container {
  width: 800px;
  margin: 40px auto 0px auto;
  font-family: "Asap", "Open Sans", "PT Sans", "Myriad Pro", Arial, Helvetica, Sans-Serif;
  font-weight: 400;
  color: #474747; }

#welcome-message {
  display: inline-block;
  width: 460px;
  padding: 0px;
  margin: 0px; }

.slogan {
  font-size: 28px;
  line-height: 26pt; }

.message {
  font-size: 14px;
  line-height: 16pt; }

#request {
  display: inline-block;
  width: 300px;
  margin-top: 0px;
  float: right; }

.request-header {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0px; }

.request {
  font-size: 12px;
  line-height: 14pt;
  margin-top: 10px;
  margin-bottom: 20px; }

.request-form {
  width: 280px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 40px;
  color: #acacac;
  outline: none;
  background-color: whitesmoke;
  border: 0;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(13, 13, 13, 0.2);
  -moz-box-shadow: inset 0 0 3px 1px rgba(13, 13, 13, 0.2);
  box-shadow: inset 0 0 3px 1px rgba(13, 13, 13, 0.2); }

.request-button {
  height: 30px;
  padding: 0 18px;
  -webkit-box-shadow: 0 1px 3px rgba(13, 13, 13, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(13, 13, 13, 0.2);
  box-shadow: 0 1px 3px rgba(13, 13, 13, 0.2);
  font-size: 13px;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 1px 1px 1px rgba(13, 13, 13, 0.2);
  display: inline-block;
  cursor: pointer;
  line-height: 30px;
  background-color: #3ea1db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3ea1db), to(#3a88bf));
  background-image: -webkit-linear-gradient(top, #3ea1db, #3a88bf);
  background-image: -moz-linear-gradient(top, #3ea1db, #3a88bf);
  background-image: -o-linear-gradient(top, #3ea1db, #3a88bf);
  background-image: -ms-linear-gradient(top, #3ea1db, #3a88bf);
  background-image: linear-gradient(top, #3ea1db, #3a88bf);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3ea1db', EndColorStr='#3a88bf');
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-weight: bold;
  border: 0;
  margin-top: 15px;
  cursor: move; }
  .request-button:hover {
    -webkit-box-shadow: 0 1px 5px rgba(13, 13, 13, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(13, 13, 13, 0.2);
    box-shadow: 0 1px 5px rgba(13, 13, 13, 0.2); }
  .request-button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(13, 13, 13, 0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(13, 13, 13, 0.8);
    box-shadow: inset 0 1px 3px rgba(13, 13, 13, 0.8); }
  .request-button:hover {
    background-color: #52b1e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#52b1e2), to(#3c9aca));
    background-image: -webkit-linear-gradient(top, #52b1e2, #3c9aca);
    background-image: -moz-linear-gradient(top, #52b1e2, #3c9aca);
    background-image: -o-linear-gradient(top, #52b1e2, #3c9aca);
    background-image: -ms-linear-gradient(top, #52b1e2, #3c9aca);
    background-image: linear-gradient(top, #52b1e2, #3c9aca);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#52b1e2', EndColorStr='#3c9aca'); }
  .request-button:active {
    background-color: #2689cf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2689cf), to(#186faf));
    background-image: -webkit-linear-gradient(top, #2689cf, #186faf);
    background-image: -moz-linear-gradient(top, #2689cf, #186faf);
    background-image: -o-linear-gradient(top, #2689cf, #186faf);
    background-image: -ms-linear-gradient(top, #2689cf, #186faf);
    background-image: linear-gradient(top, #2689cf, #186faf);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2689cf', EndColorStr='#186faf'); }

#logins {
  width: 800px;
  padding-bottom: 40px;
  text-align: center;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0; }

.already {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #474747; }

.fb_login, .browserid_login, .twitter_login {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 3px;
  -webkit-box-shadow: 0 1px 3px rgba(13, 13, 13, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(13, 13, 13, 0.2);
  box-shadow: 0 1px 3px rgba(13, 13, 13, 0.2); }
  .fb_login:active, .browserid_login:active, .twitter_login:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(13, 13, 13, 0.4);
    -moz-box-shadow: inset 0 1px 3px rgba(13, 13, 13, 0.4);
    box-shadow: inset 0 1px 3px rgba(13, 13, 13, 0.4); }

.fb_login {
  width: 185px;
  color: whitesmoke;
  font-family: "Asap", "Open Sans", "PT Sans", "Myriad Pro", Arial, Helvetica, Sans-Serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 13px;
  background-color: #3a589a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a589a), to(#1f396f));
  background-image: -webkit-linear-gradient(top, #3a589a, #1f396f);
  background-image: -moz-linear-gradient(top, #3a589a, #1f396f);
  background-image: -o-linear-gradient(top, #3a589a, #1f396f);
  background-image: -ms-linear-gradient(top, #3a589a, #1f396f);
  background-image: linear-gradient(top, #3a589a, #1f396f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3a589a', EndColorStr='#1f396f'); }
  .fb_login:hover {
    background-color: #4e6da9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4e6da9), to(#2f4d83));
    background-image: -webkit-linear-gradient(top, #4e6da9, #2f4d83);
    background-image: -moz-linear-gradient(top, #4e6da9, #2f4d83);
    background-image: -o-linear-gradient(top, #4e6da9, #2f4d83);
    background-image: -ms-linear-gradient(top, #4e6da9, #2f4d83);
    background-image: linear-gradient(top, #4e6da9, #2f4d83);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4e6da9', EndColorStr='#2f4d83'); }
  .fb_login:active {
    background-color: #233e81;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#233e81), to(#0f2354));
    background-image: -webkit-linear-gradient(top, #233e81, #0f2354);
    background-image: -moz-linear-gradient(top, #233e81, #0f2354);
    background-image: -o-linear-gradient(top, #233e81, #0f2354);
    background-image: -ms-linear-gradient(top, #233e81, #0f2354);
    background-image: linear-gradient(top, #233e81, #0f2354);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#233e81', EndColorStr='#0f2354'); }
  .fb_login .icon-highlight {
    background-image: url("/images/icon-facebook.png"); }

.browserid_login {
  width: 215px;
  background-color: #da7d31;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da7d31), to(#cc6031));
  background-image: -webkit-linear-gradient(top, #da7d31, #cc6031);
  background-image: -moz-linear-gradient(top, #da7d31, #cc6031);
  background-image: -o-linear-gradient(top, #da7d31, #cc6031);
  background-image: -ms-linear-gradient(top, #da7d31, #cc6031);
  background-image: linear-gradient(top, #da7d31, #cc6031);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#da7d31', EndColorStr='#cc6031'); }
  .browserid_login:hover {
    background-color: #e08f44;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e08f44), to(#d57644));
    background-image: -webkit-linear-gradient(top, #e08f44, #d57644);
    background-image: -moz-linear-gradient(top, #e08f44, #d57644);
    background-image: -o-linear-gradient(top, #e08f44, #d57644);
    background-image: -ms-linear-gradient(top, #e08f44, #d57644);
    background-image: linear-gradient(top, #e08f44, #d57644);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e08f44', EndColorStr='#d57644'); }
  .browserid_login:active {
    background-color: #ce621c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ce621c), to(#bd451c));
    background-image: -webkit-linear-gradient(top, #ce621c, #bd451c);
    background-image: -moz-linear-gradient(top, #ce621c, #bd451c);
    background-image: -o-linear-gradient(top, #ce621c, #bd451c);
    background-image: -ms-linear-gradient(top, #ce621c, #bd451c);
    background-image: linear-gradient(top, #ce621c, #bd451c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ce621c', EndColorStr='#bd451c'); }
  .browserid_login a {
    color: whitesmoke;
    font-family: "Asap", "Open Sans", "PT Sans", "Myriad Pro", Arial, Helvetica, Sans-Serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 13px; }
  .browserid_login .icon-highlight {
    background-image: url("/images/icon-mozilla.png"); }

.icon-highlight {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background-color: rgba(246, 246, 246, 0.1);
  background-position: center center;
  background-repeat: no-repeat; }

.backdoor {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0; }

.agreement-wrapper {
  text-align: center;
  margin: 30px auto;
  width: 530px; }
  .agreement-wrapper .button {
    z-index: 1; }
  .agreement-wrapper .overlay {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4); }
    .agreement-wrapper .overlay .inner {
      position: relative;
      background: #f8f8f8;
      width: 75%;
      height: 75%;
      margin: 100px auto;
      padding: 45px 60px 100px; }
      .agreement-wrapper .overlay .inner .button {
        display: inline-block;
        margin-top: 20px; }
      .agreement-wrapper .overlay .inner .close {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        background: #dddddd;
        color: #9f9fa0;
        font-size: 10px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-family: Pictos;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15); }
      .agreement-wrapper .overlay .inner .close:active {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95); }
    .agreement-wrapper .overlay section.agreement {
      text-align: left;
      padding: 10px;
      height: 100%;
      overflow: scroll; }
      .agreement-wrapper .overlay section.agreement li {
        margin: 8px 0 0 20px; }
  .agreement-wrapper .check-agree {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding: 10px 20px; }
    .agreement-wrapper .check-agree a {
      font-weight: bold;
      color: #1faddb; }
    .agreement-wrapper .check-agree a:hover {
      text-decoration: underline; }
    .agreement-wrapper .check-agree form {
      display: none; }

.P1 {
  font-size: 10pt;
  font-family: Times New Roman;
  writing-mode: lr-tb; }

.P11 {
  font-size: 11pt;
  font-weight: bold;
  text-align: center !important;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  text-decoration: underline; }

.P12 {
  font-size: 12pt;
  font-weight: bold;
  text-align: center !important;
  font-family: Times New Roman;
  writing-mode: lr-tb; }

.P2 {
  font-size: 10pt;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  text-align: center !important; }

.P3 {
  font-size: 10pt;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  margin-left: 0in;
  margin-right: -0.037in;
  margin-top: 0.0835in;
  margin-bottom: 0.0835in;
  text-align: justify !important;
  text-indent: 0in; }

.P4 {
  font-size: 10pt;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  margin-left: 0.5in;
  margin-right: 0in;
  margin-top: 0.0835in;
  margin-bottom: 0.0835in;
  text-align: justify !important;
  text-indent: -0.5in; }

.P5, .P6, .P7 {
  font-size: 10pt;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  margin-top: 0.0835in;
  margin-bottom: 0.0835in;
  text-align: justify !important; }

.P8 {
  font-size: 11pt;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  margin-top: 0.0835in;
  margin-bottom: 0.0835in;
  text-align: justify !important; }

.P9 {
  font-size: 10pt;
  margin-bottom: 0.0835in;
  margin-top: 0.0835in;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  text-align: justify !important; }

.Standard {
  font-size: 10pt;
  font-family: Times New Roman;
  writing-mode: lr-tb; }

.ListLabel_20_1 {
  font-size: 12pt; }

.ListLabel_20_2 {
  font-size: 10pt; }

.ListLabel_20_3 {
  font-weight: normal; }

.T {
  font-weight: bold; }

.T1, .T2 {
  font-size: 11pt; }

.T3, .T4 {
  font-size: 11pt;
  text-decoration: underline; }

.T5 {
  font-size: 11pt;
  text-decoration: underline;
  font-weight: bold; }

.T6, .T7 {
  font-size: 11pt;
  font-weight: bold; }
