<div class="add-bar">
    <a name="addbar"></a>
    <div class="inner">
        <span class="add-label"><i class="icon plus-add">+</i> Add Element</span>
        <menu type="toolbar" label="Add Item" class="add-types">
            <a class="button add-fact" href="#addbar"><img src="/images/icon-text.png" /> Text</a>
            <a class="button add-photo" href="#addbar"><img src="/images/icon-photo.png" /> Image</a>
            <a class="button add-video" href="#addbar"><img src="/images/icon-video.png" /> Video</a>
            <a class="button add-collage" href="#addbar"><img src="/images/icon-collage.png" /> Collage</a>
            <a class="button add-rss" href="#addbar"><img src="/images/icon-rss.png" /> Rss</a>
        </menu>
    </div>
</div>

{{#first_time}}
<div class="first-edit-callout">
    <img src="/images/red-arrow.png" />
    <span class="text">Start adding stuff!</span>
</div>
{{/first_time}}