<div class="page-tear top"></div>
<div class="page-tear"></div>

<div class="asset-wrapper">
  <a href="#" class="close-add-item" title="close add fact"><img src="/images/close-button.png" /></a>
  <div class="fact-feed cf">
      <div class="asset">
          <form>
            <div class="add-feed">
              <p><label for="feed_url">Add a new RSS link to add</label></p>
              <p>
                <input type="text" name="feed_url" class="feed_url" placeholder="http://" />
                <a href="#" class="button add-button">Add</a>
              </p>
            </div>

            <p><label>or Select a RSS feed to Add...</label></p>

            <div class="liked-feeds">
              <ul class="liked-items">

              </ul>
            </div>

          </form>
      </div>
  </div>
</div>