<div class="add-items-chooser">
  <header>
    {{header}}
  </header>
  <ol class="tiles"></ol>
  <footer>
    <a class="cancel_btn" href="javascript:void(0)">Cancel</a>
  </footer>
</div>

<div class="fs_overlay"></div>