<div class="page-tear top"></div>
<div class="page-tear"></div>

<div class="asset-wrapper">
  <a href="#" class="close-add-item" title="close add fact"><img src="/images/close-button.png" /></a>
  <div class="fact-type cf">
      <div class="asset">
          <h2 contentEditable="true" class="editable fact_title" placeholder="Enter Headline"></h2>
          <div class="fact-wrapper cf">
              <div class="screen-text">
                  <textarea id="new-text-{{index}}" rows='4' cols='50' class='text-editor'>{{text}}</textarea>
              </div>
              <a href="#" class="add-btn">Save Text</a>
          </div>
      </div>
  </div>
</div>