<div class="bookmarklet-instructions">
  <span>Drag <iframe id="pinster" src="/tools/bookmarklet.html"></iframe> to your browser&apos;s bookmark bar.</span>
  <img class="dragarrow" src="/images/bookmarklet-arrow-red.png">
</div>
