{{#item}}
<div class="record-screen-item {{type}}-type" {{#image_300_url}}style="background-image: url({{image_300_url}});"{{/image_300_url}}>
    {{#text}}
    <div class="fact-wrapper">
        {{#title}}
        <h4>{{title}}</h4>
        {{/title}}

        <aside class="screen-text">{{{text}}}</aside>
    </div>
    <div class="overlay"></div>
    {{/text}}
</div>
{{/item}}