<aside class="asset fact-wrapper">
  <h2 class="fact-header">{{title}}</h2>
  <div class="fact-text">{{{text}}}</div>

  <div class="show_meta_data_btn"></div>
  {{#caption}}
  <aside class="caption">{{{caption}}}</aside>
  {{/caption}}
</aside>
