<aside class="asset feed">
    {{#item}}
  <h2 class="feed-header">{{title}}</h2>
    {{/item}}
  <img class="asset-image" src="/images/default_new_collection.png"/>
  <div class="asset-image placeholder-image" style='background-image: url("/images/default_new_collection.png");' />
  <div class="content"></div>
  {{#caption}}
  <aside class="caption">{{{caption}}}</aside>
  {{/caption}}
</aside>
<div class="show_meta_data_btn"></div>
