<div class='feedback_response_message'>
    Thanks!
</div>
<div id='feedback_inner_wrapper'>
    <textarea id='feedback_text' class="mceNoEditor" placeholder='Enter Your Feedback'></textarea>
    <div class='feedback_type'>
        <h4>This is a...</h4>
        <input id='comment' name='feedback-type' type='radio' value='Comment' />
        <label for='comment'>Comment</label>
        <input id='question' name='feedback-type' type='radio' value='Question' />
        <label for='question'>Question</label>
        <br />
        <input id='bug' name='feedback-type' type='radio' value='Bug' />
        <label for='bug'>Bug</label>
        <input id='recommendation' name='feedback-type' type='radio' value='Recommendation' />
        <label for='recommendation'>Recommendation</label>
    </div>
    <a href='javascript:void(0)' id='feedback_submit'>
        Send My Feedback
    </a>
    <a class='form_toggle_btn' href='javascript:void(0)'>
        Feedback
    </a>
    <a class='close_form' href='javascript:void(0)'>
        Cancel
    </a>
</div>