<div class="first-time-user-callout">
	<div class="callout-container">
		<div class="items">
            <div class="arrow"></div>
    		<p>Create a collage at<br>anytime by clicking here</p>
    	</div>
    </div>
</div>
