<div class="flash-uploader-container">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="810" height="620" id="FileUploader" align="middle">
    <param name="movie" value="/flash/FileUploader.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#f5f5f5" />
    <param name="play" value="true" />
    <param name="loop" value="true" />
    <param name="wmode" value="transparent" />
    <param name="menu" value="true" />
    <param name="devicefont" value="false" />
    <param name="salign" value="" />
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowNetworking" value="all" />
    <param name="flashvars" value="url={{url}}&paramName={{paramName}}&key={{key}}&bucket={{bucket}}&acl={{acl}}&AWSAccessKeyId={{AWSAccessKeyId}}&policy={{policy}}&signature={{signature}}&postURL={{postURL}}&screenIndex={{screenIndex}}" />

    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="/flash/FileUploader.swf" width="810" height="620">
      <param name="movie" value="/flash/FileUploader.swf" />
      <param name="quality" value="high" />
      <param name="bgcolor" value="#f5f5f5" />
      <param name="play" value="true" />
      <param name="loop" value="true" />
      <param name="wmode" value="transparent" />
      <param name="menu" value="true" />
      <param name="devicefont" value="false" />
      <param name="salign" value="" />
      <param name="allowScriptAccess" value="sameDomain" />
      <param name="allowNetworking" value="all" />
      <param name="flashvars" value="url={{url}}&paramName={{paramName}}&key={{key}}&bucket={{bucket}}&acl={{acl}}&AWSAccessKeyId={{AWSAccessKeyId}}&policy={{policy}}&signature={{signature}}&postURL={{postURL}}&screenIndex={{screenIndex}}" />
    <!--<![endif]-->
      <a href="http://www.adobe.com/go/getflash">
        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
      </a>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>