<div id='profile-header'>
    <div class="profile-top">
        <div class="name-header cf">
            <img src="{{owner.image_url}}" class="avatar" />
            <h2 class='user-name'>{{owner.first_name}} {{owner.last_name}}</h2>
            <div class="collection-count">{{currentUser.collection_count}} {{currentUser.collection_count_text}}</div>
            <div class="follow-user following-user-btn"><span class="text">Follow User</span></div>
        </div>
    </div>
</div>