<div class='matter_wrapper'>
  <span class='front_text'>
    Welcome! Your stream has
  </span>
    <span class='items_count mystream_items front-text'>
      {{screens_count}} {{screen_count_text}}
    </span>
  <span class='front_text'>
    for you to explore
  </span>
  <span class='front_text instructions'>
    Your stream contains collections from the Topics you're following. Personalize this stream by adding and removing Topics.
  </span>
  <span class='topics_button'>
    <a href='javascript:void(0)'>Manage My Topics</a>
  </span>
</div>
