<div id='collections'>
    <div class='wrapper'>
      <article></article>
    </div>
    <a id='back-to-top' style='display: none' href='#'>
    <img src='/images/back-to-top-icon.png'/>TOP</a>
    <a href='#' name='bottom'></a>
</div>