<a href="#" class="close-button activated">*</a>
<h2 class="collection-title">
    {{collection_title}}
    <a href="#" class="collection_author">{{author}}</a>
</h2>
<div class='tile-screen prev'><div class='screen ffocus'></div></div>
<div class='tile-screen current'><div class='screen ffocus'>{{> screen_template }}</div></div>
<div class='tile-screen next'><div class='screen ffocus'></div></div>
