<section class="upload-progress">
  <div class="screen-item image-type cf">
    <div class="page-tear top"></div>
    <div class="page-tear"></div>

    <div class="asset-wrapper image-upload-progress">
      <div class="image-placeholder">
        <img src="/images/placeholder-logo.jpg">
      </div>
      <div class="progress">
        <div class="bar"></div>
      </div>
      <div class="upload-text">Uploading&hellip;</div>
    </div>
  </div>
</section>