<div class="asset image-wrapper" >
  {{#item}}
  <img class="asset-image" src="{{thumbnail_url}}" />
  <div class="asset-image" style='background-image: url("{{thumbnail_url}}");' />
  {{/item}}

  {{#caption}}
    <aside class="caption">{{{caption}}}</aside>
  {{/caption}}
  <div class="show_meta_data_btn"></div>
</div>
