<div class="asset image-wrapper" >
    <img class="asset-image" src="{{thumbnail_url}}" />
    <div class="asset-image" style='background-image: url("{{thumbnail_url}}");' />
    {{#caption}}
    <aside class="caption">{{{caption}}}</aside>
    {{/caption}}
</div>
