<div class="profile-nav-wrapper cf">
    <nav class="profile-navigation">
        <a href="javascript:void(0)" class="item my_stats">Stats</a>
        <a href="javascript:void(0)" class="item collections">Collages</a>
        <a href="javascript:void(0)" class="item items">Elements</a>
        <a href="javascript:void(0)" class="item topics">Following</a>
        <a href="javascript:void(0)" class="item likes">Likes</a>
    </nav>
</div>
