<div id="notifications" style="display: none;">
    <b class="border-notch notch"></b>
    <b class="notch"></b>

    <div class="title">Notifications</div>
    <div id="no-notifications-message" style="display: none;">Check here for recent activity including new comments, likes, reuse of your elements and more.</div>
    <ol id="notifications-list"></ol>
</div>