<div id="collage-filter-container">
  <div class="collage-filter-wrapper">
      <h3 class="collage-count">Top 5 Collages by</h3>
      <div class="view-options">
        <div class="collage-view-options">
          <div class="selected-collage-filter" filter="views">Views</div>
          <div class="notch"></div>
          <ul class="options">
            <li filter="views">Views</li>
            <li filter="likes">Likes</li>
            <li filter="comments">Comments</li>
            <li filter="reuses">Reuses</li>
          </ul>
        </div>
      </div>
  </div>
  <ol class="collage-list cf"></ol>
</div>
<hr class="diviver" />