<div id="element-filter-container">
  <div class="element-filter-wrapper">
      <h3 class="element-count">Top 5 Elements by</h3>
      <div class="view-options">
        <div class="element-view-options">
          <div class="selected-element-filter" filter="views">Views</div>
          <div class="notch"></div>
          <ul class="options">
            <li filter="views">Views</li>
            <li filter="likes">Likes</li>
            <li filter="comments">Comments</li>
            <li filter="reuses">Reuses</li>
          </ul>
        </div>
      </div>
  </div>
  <ol class="element-list cf"></ol>
</div>