<div id="my-profile-following" class="body">
    <div class="profile-content">
        <h3 class="collage-count"></h3>
        <ol class="collage-list cf"></ol>

        <h3 class="following-count"></h3>
        <ol class="following-list cf">
        </ol>
    </div>
</div>
