<a class="screen-app-link screen-item single-element" href="{{item.app_url}}" {{#item.cover_asset}}title="{{item.title}}"{{/item.cover_asset}}>
  {{#item.factType}}
    <div class="asset fact-type">
        <div class="fact-wrapper">
            {{#item.title}}
            <h2 class='fact-header'>{{item.title}}</h2>
            {{/item.title}}

            <aside class="fact-text">{{{item.text}}}</aside>
        </div>
    </div>
  {{/item.factType}}

  {{#item.imageType}}
    <div class="asset">
        <div class="frame">
            <img class="image" src="{{item.image_745_url}}">
        </div>
    </div>
  {{/item.imageType}}

  {{#item.feed_url}}
      <div class="content"></div>
  {{/item.feed_url}}
</a>

<svg class="svg_play" xmlns="http://www.w3.org/2000/svg" pointer-events="none">
    <rect id="play" x="0" y="0" width="100%" height="100%" fill="transparent" />
</svg>

{{#item}}
  <div class="metadata">
    <div class="container">
      {{#view_count}}
      <div class="view-count-wrapper">
        <img class="icon" src="/images/visits-icon.png"/>
        <span class="view-count">{{view_count}}</span>
      </div>
      {{/view_count}}
      {{#comment_count}}
      <div class="comment-count-wrapper">
        <img class="icon" src="/images/comment-icon.png"/>
        <span class="comment-count">{{comment_count}}</span>
      </div>
      {{/comment_count}}
      <div class="creation-elapsed-wrapper">
        <span class="creation-elapsed">{{created}}</span>
      </div>
    </div>
  </div>
{{/item}}

    {{#item.videoType}}
    <svg class="svg_play" xmlns="http://www.w3.org/2000/svg" pointer-events="none">
      <rect id="play" x="0" y="0" width="100%" height="100%" fill="transparent" />
    </svg>
    {{/item.videoType}}


{{#showActions}}
    {{#showLikeButton}}
    <div class="like-container">
        <a class="like-btn" title="like" href="#" {{#item.collected}}class="liked"{{/item.collected}}><img src="/images/icon-heart.png" /></a>

        {{#item.collected_count}}
        <div class="like-count">
            {{item.collected_count}}
        </div>
        {{/item.collected_count}}
    </div>
    {{/showLikeButton}}

    {{#showReuseButton}}
    <a href="#" class="screen-reuse"><img src="/images/icon-scissor.png" title="Reuse" /></a>
    {{/showReuseButton}}

    {{#editable}}
    {{#showDeleteButton}}
    <a href="#" class="screen-delete" style="display: none;"><img src="/images/icon-trash.png" title="Delete" /></a>
    {{/showDeleteButton}}
    {{/editable}}
{{/showActions}}

