<section>
    <div id='recommended-collages' class='explore-collage'>
        <div class="wrapper">
            <h3>Recommended Collages</h3>
            <ol class="collage-list"></ol>
        </div>
    </div>
</section>
