<ol id="reorder-list"></ol>

<div id="action-bar">
    <div class="drag-text"><img src="/images/icon-edit-reposition.png" /><span class="text">Drag to Reorder</span></div>
    <a href="#" class="done-reorder-btn" title="I'm Done">I'm Done</a>
    <a href="#" class="cancel-reorder-btn" title="Cancel">Cancel</a>
</div>