<div class="reuse-item-form-wrapper">
  <a class="cancel-btn" href="javascript:void(0)">
    <img src="/images/close-button.png" />
  </a>
  <article class="reuse-item-form">
     <form id="reuse-item">
      <div class="screen no-hover"></div>
      <div>
        <div id="caption-error-message" class="error-message"></div>
        <textarea placeholder="Add a caption..." class="field" id="reuse-asset-caption">{{quotedCaption}}</textarea>
      </div>
    </form>

    <footer>
      <div class="content">
        <div id="collection-error-message" class="error-message"></div>
        <div class="dropdown-container">
          <div class="selected-collage">Select a Collage</div>
          <div class="notch"></div>
          <ul class="options"></ul>
        </div>
        <a href="javascript:void(0)" class="reuse-btn inactive">Add</a>
    </footer>
  </article>
</div>
