<nav class="screen-nav">
    <a class="goTop" title="scroll to top" href="#top"><img src="/images/asset-nav-jump-top.png"/></a>
    <a class="goPrev" title="scroll to previous" href="#screen-{{prevIndex}}"><img src="/images/asset-nav-up.png"/></a>
    <a class="ordinal" href="#" name="screen-{{index}}">{{index}}</a>
    <a class="goNext" title="scroll to next" href="#screen-{{nextIndex}}"><img src="/images/asset-nav-down.png"/></a>
    <a class="goBottom" title="scroll to bottom" href="#bottom"><img src="/images/asset-nav-jump-bottom.png"/></a>
</nav>