<header id="topic-header">
    <div class="topic-header-inner">
      <h1 class="title">{{title}}</h1>
      <div class="like-container">
        <div class="following-topic-btn follow-topic"><span class="text">Follow Topic</span></div>
      </div>
    </div>
</header>

