{{#item}}
<iframe id="{{uid}}" class="youtube-player" type="text/html" width="100%" height="650" src="http://www.youtube.com/embed/{{youtube_id}}?html5=1&autoplay=1" frameborder="0">
</iframe>
{{/item}}